# =========================
# Database
# =========================
DB_PASSWORD=your_db_password


# =========================
# SOLAPI
# =========================
SOLAPI_API_KEY=your_solapi_api_key
SOLAPI_API_SECRET=your_solapi_api_secret
SOLAPI_SENDER=01012345678


# =========================
# Kakao
# =========================
KAKAO_REST_API_KEY=your_kakao_rest_api_key
