# =========================
# Database
# =========================
DB_PASSWORD=Gkrtod1@


# =========================
# SOLAPI
# =========================
SOLAPI_API_KEY=NCSB2WWDSRDFQ5OL
SOLAPI_API_SECRET=KGAJWCCP8NMNNXMOQAK013LTCRFKDEK5
SOLAPI_SENDER=01037269288


# =========================
# Kakao
# =========================
KAKAO_REST_API_KEY=f5816278d02b2801c85fb59458782bee

JWT_SECRET=tYuhDUga/CHhBWemrvPhAIW3VA9YVWoiYaVdL8ar7o3juKJgXvIjxTdNS0faKKKR
